.App {
  text-align: left;
  padding:20px 0;
}

.App-link {
  color: #61dafb;
}

h1{
  margin: 0px;padding: 0px;text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.panel-heading,.pagination{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.clear{
  clear:both;
}